@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Porsche font */
@font-face {
    font-family: 'Porsche911Regular';
    src: url('/fonts/911v2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911Bold';
    src: url('/fonts/911v2b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911Condensed';
    src: url('/fonts/911v2c.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911Italic';
    src: url('/fonts/911v2i.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Porsche911Light';
    src: url('/fonts/911v2l.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911LightItalic';
    src: url('/fonts/911v2li.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Body Styling */
body {
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll; 
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    display: none; 
}

/* Prevent horizontal scrolling */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Ensure all sections are within the viewport */
.container,
.wrapper,
.section {
    max-width: 100vw;
    box-sizing: border-box;
}

/* Text font start */
.main-title {
    font-family: 'Porsche911Regular', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.section-head{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.bn40 , .btn-43{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
/* Text font end */

/* Section Styling */
section {
    min-height: 100dvh;
}

/* Navbar styles start */
.navbar {
    background: transparent;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1rem;
    margin-left: 20px;
    text-transform: uppercase;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Navbar styles end */

/* First section start */
.main-logo {
    height: auto;
}

.first-section {
    position: relative;
    width: 100%;
    height: 100dvh; /* Adjust height as needed */
    background-image: url('https://www.wsupercars.com/wallpapers-regular/Porsche/2025-Porsche-911-Targa-4-GTS-002-1080.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black shade with opacity */
    z-index: 1;
}

.main-logo {
    position: relative;
    z-index: 2; /* Ensure the logo is above the background and the black shade */
    max-width: 300px; /* Adjust size as needed */
}


/* First section wnd */

/* Second section start */
.tile {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tilehover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.second-title {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

.mid-tile {
    opacity: 0;
    transition: opacity 1s ease 1s;
}

.mid-tileshow {
    opacity: 1;
}

.model-name{
    font-family: 'roboto-light', sans-serif;
}

.model-card img {
    transition: transform 1s ease-in-out; 
}

.model-card:hover img {
    transform: scale(1.1); 
}


.bn40 {
    position: relative;
    border-radius: 4px;
    font-weight: 600;
    font-size: large;
    padding: 4px 6px;
    color: #2b2b2b !important;
    text-decoration: none;
}

.bn40::after {
    position: absolute;  
    left: 0; 
    width: 100%; 
    height: 2px;
    display: block;
    content: "";
    background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
    opacity: 1;
    margin-bottom: -6px;
    margin-top: 1px;
}
  
.bn40div {
    display: flex;
}

/* Second section end */

/* Third section start*/
.Third {
    padding: 60px 0;
    background: linear-gradient(135deg, #000000 30%, #434343);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.car-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.car-image:hover {
    transform: scale(1.05);
}

.third-h2 {
    font-family: 'Porsche911Italic', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.third-h4{
    font-family: 'roboto-thin', sans-serif;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .btn-43 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btn-43:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-43:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-43:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

@media (min-width: 992px){
    .Third::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff; 
        clip-path: polygon(0 0, 40% 60%, 0 100%);
        z-index: 1;
    }
    
    .left,
    .right {
        position: relative; 
        z-index: 2; 
    }
}
/* Third section end*/

/* Movement */
/* X axis movement */
.xMovement {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.xAxisShow {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* X axis movement */

/* X axis movement for xMovementForLastCar */
.xMovementForLastCar {
    transform: translateX(-30%);
}

.xMovementForLastCarShow {
    transform: translateX(100%);
}

/* X axis movement for xMovementForLastCar*/

/* X axis reverse movement */
.xReverseMovement {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.xAxisReverseShow {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* X axis reverse movement */

/* Y axis movement */
.yMovement {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
}

.yAxisShow {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Y axis movement */

/* Y axis movement yMovementForMainLogo */
.yMovementForMainLogo {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
}

.yMovementForMainLogoShow {
    opacity: 1;
    filter: blur(0);
    transform: translateY(-30%);
}

/* Y axis movement yMovementForMainLogo */

/* Media Query */
@media (prefers-reduced-motion: no-preference) {
    .yMovementForMainLogo,
    .xMovement,
    .yMovement,
    .xReverseMovement {
        transition: all 2s;
    }

    .xMovementForLastCar{
        transition:  all 4s;
    }
}

/* Movement */

/* Last section start */
.last-section {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.last-section-car {
    position: relative;
    z-index: 2;
}

.last-section-under {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.last-section-head{
    font-family: 'Porsche911Condensed',sans-serif;
}

/* Last section end */

/* For mobile screens (max-width: 767px) */
@media (max-width: 767px) {
    .main-logo {
        width: 40%;
    }

    .main-title {
        font-size: 1.3rem;
    }

    .last-section-logo {
        width: 30%;
    }

    .last-section-head{
        font-size: 2.5rem;
    }

    .last-section-car{
        width: 100%;
    }

    h2{
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 0.7rem;
    }

    .section-head{
        text-align: center;
    }
}

/* For small tablets (min-width: 768px) */
@media (min-width: 768px) {
    .main-logo {
        width: 35%;
    }

    .main-title {
        font-size: 1.5rem;
    }

    .last-section-logo {
        width: 30%;
    }

    .last-section-head{
        font-size: 3rem;
    }

    .last-section-car{
        width: 60%;
    }

    h2{
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 0.8rem;
    }
}

/* For large tablets or small desktops (min-width: 992px) */
@media (min-width: 992px) {
    .main-logo {
        width: 30%;
    }

    .main-title {
        font-size: 2rem;
    }

    .last-section-logo {
        width: 30%;
    }

    .last-section-head{
        font-size: 3.5rem;
    }

    .last-section-car{
        width: 60%;
    }

    h2{
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.6rem;
    }
    
    p {
        font-size: 0.9rem;
    }
}

/* For large desktops (min-width: 1200px) */
@media (min-width: 1200px) {
    .main-logo {
        width: 20%;
    }
    
    .main-title {
        font-size: 2.5rem;
    }
    
    .last-section-logo {
        width: 20%;
    }

    .last-section-head{
        font-size: 4rem;
    }

    .last-section-car{
        width: 60%;
    }

    h2{
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }
}






