@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Porsche font */
@font-face {
    font-family: 'Porsche911Regular';
    src: url('/fonts/911v2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911Bold';
    src: url('/fonts/911v2b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911Condensed';
    src: url('/fonts/911v2c.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911Italic';
    src: url('/fonts/911v2i.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Porsche911Light';
    src: url('/fonts/911v2l.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche911LightItalic';
    src: url('/fonts/911v2li.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Body Styling */
body {
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/* Prevent horizontal scrolling */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Ensure all sections are within the viewport */
.container,
.wrapper,
.section {
    max-width: 100vw;
    box-sizing: border-box;
}

/* Text font start */
.main-title {
    font-family: 'Porsche911Regular', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
}
/* Text font end */

/* Section Styling */
section {
    min-height: 100vh;
}

/* Navbar styles start */
.navbar {
    background: transparent;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1rem;
    margin-left: 20px;
    text-transform: uppercase;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Navbar styles end */

/* First section start */
.main-logo {
    height: auto;
}

/* First section wnd */

/* Second section start */
.tile {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tilehover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.second-title {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

.mid-tile {
    opacity: 0;
    transition: opacity 1s ease 1s;
}

.mid-tileshow {
    opacity: 1;
}

/* Second section end */

/* Third section start*/
.Third {
    padding: 60px 0;
    background: linear-gradient(135deg, #000000 30%, #434343);
    border-radius: 15px;
}

.car-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.car-image:hover {
    transform: scale(1.05);
}

.head-two {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.para {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
}

/* Third section end*/

/* Movement */
/* X axis movement */
.xMovement {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.xAxisShow {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* X axis movement */

/* X axis reverse movement */
.xReverseMovement {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.xAxisReverseShow {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* X axis reverse movement */

/* Y axis movement */
.yMovement {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
}

.yAxisShow {
    opacity: 1;
    filter: blur(0);
    transform: translateY(-30%);
}

/* Y axis movement */

/* Media Query */
@media (prefers-reduced-motion: no-preference) {

    .xMovement,
    .yMovement,
    .xReverseMovement {
        transition: all 2s;
    }
}

/* Movement */

/* For mobile screens (max-width: 767px) */
@media (max-width: 767px) {
    .main-logo {
        width: 40%;
    }

    .main-title {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 0.7rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
}

/* For small tablets (min-width: 768px) */
@media (min-width: 768px) {
    .main-logo {
        width: 35%;
    }

    .main-title {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    
    p {
        font-size: 0.8rem;
    }
    
    h4 {
        font-size: 1.4rem;
    }
}

/* For large tablets or small desktops (min-width: 992px) */
@media (min-width: 992px) {
    .main-logo {
        width: 30%;
    }

    .main-title {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 0.9rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }
}

/* For large desktops (min-width: 1200px) */
@media (min-width: 1200px) {
    .main-logo {
        width: 20%;
    }

    .main-title {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 2rem;
    }
}